@media (max-width: 1300px) {
    .vacancies__item::before{ left: -30px; }
}

@media (max-width: 991.98px) {
    .vacancies{padding: 0 15px;}
}

@media (max-width: 767.98px) {
    .vacancies__menu li a{ 
        font-size: 14px;
        margin: 0 20px;
    }
    .vacancies__item::before{background: none;}
    
    .vacancies__title,
    .vacancies__salary{ font-size: 18px; }
    .vacancies__salary i{ font-size: 16px; }
    .vacancies__date{font-size: 12px;}
}

@media (max-width: 575.98px) {
    .vacancies__item{padding: 25px 0;}
    .vacancies__title,
    .vacancies__salary{ font-size: 16px; }
    .vacancies__salary i{ font-size: 15px; }
}

@media (max-width: 460px) {
    .vacancies__menu li a{margin: 0 15px;}
}